<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat Code Coverage">
				<Configuration>
					<Format>cobertura</Format>
					<Exclude>[LMBackend]Program, [LMBackend]LMBackend.LlmClient, [LMBackend]LMBackend.WhisperService, [LMBackend]LMBackend.DockerHelper, [LMBackend]LMBackend.GoogleSearch*, [LMBackend]LMBackend.SttServiceInitializer, [LMBackend]LMBackend.RAG.DocumentSplitter</Exclude>
					<ExcludeByFile>**/Migrations/*.cs,**/STT/*.cs,**/RAG/Chroma/*.cs</ExcludeByFile>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>